.hero {
    background: #011233;
    width: 100%;
    height: 70px;
}

.hero .nine h1 {
    text-align:center; font-size:60px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font: 'Poppins'; font-weight:400; padding-left: 50px; justify-content: center; color: #E5E5E5;
  }
  

  @media screen and (max-width: 720px) {

    .nine h1 {
      width: 100%;
      height: 80vh;
    }
  }
